.contenedor {
	transform: translateY(20%);
	text-align: center;
	padding-top: 250px;
	padding-bottom: 200px;
}

#ipad:hover,
#notebook_svg:hover {
	cursor: pointer;
}

.animar {
	animation: rotate 1.5s ease forwards;
}

@keyframes rotate {
	0% {
		transform: rotateZ(0deg) scale(1);
	}

	100% {
		transform: rotateZ(-90deg) scale(4);
	}
}

.des_animar {
	animation: unrotate 1.5s ease forwards;
}

@keyframes unrotate {
	0% {
		transform: rotateZ(-90deg) scale(4);
	}

	100% {
		transform: rotateZ(0deg) scale(1);
	}
}

.animar_texto {
	animation: rotate_texto 1.5s ease forwards;
}

@keyframes rotate_texto {
	100% {
		transform: rotateZ(90deg) translate(60%, -140%);
	}
}

.desanimar_texto {
	animation: unrotate_texto 1.5s ease forwards;
}

@keyframes unrotate_texto {
	from {
		transform: rotateZ(90deg) translate(60%, -140%);
	}
	to {
		transform: rotateZ(0deg) translate(7.871947, 50.486965);
	}
}

.animar_imagen {
	animation: ocultar_imagen 1.5s ease forwards;
}

@keyframes ocultar_imagen {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.desanimar_imagen {
	animation: mostrar_imagen 1.5s ease forwards;
}

@keyframes mostrar_imagen {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

#hoja_izda {
	transform: rotateY(180deg);
	transform-origin: center;
	visibility: hidden;
}

.abrir {
	animation: abrir 0.5s linear forwards;
}

@keyframes abrir {
	from {
		transform: rotateY(180deg);
		visibility: visible;
	}
	to {
		transform: rotateY(0deg);
		visibility: visible;
	}
}

.cerrar {
	animation: cerrar 0.5s linear forwards;
}

@keyframes cerrar {
	from {
		transform: rotateY(0deg);
		visibility: visible;
	}
	to {
		transform: rotateY(180deg);
		visibility: hidden;
	}
}

#notebook_svg {
	transform: rotateZ(-10deg);
}

.animar_notebook_svg {
	animation: escalar 0.5s linear forwards;
}

@keyframes escalar {
	from {
		transform: scale(1) rotateZ(-10deg);
	}
	to {
		transform: scale(2) rotateZ(0deg);
	}
}

.desanimar_notebook_svg {
	animation: des_escalar 0.5s linear forwards;
}

@keyframes des_escalar {
	from {
		transform: scale(2) rotateZ(0deg);
	}
	to {
		transform: scale(1) rotateZ(-10deg);
	}
}
